@model serkan_test1.Models.FirmaBilgileriViewModel

<!-- Firma Unvanı -->
<div class="modal fade" id="modalFirmaUnvani" tabindex="-1" aria-labelledby="modalFirmaUnvaniLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="GuncelleFirmaUnvani" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFirmaUnvaniLabel">Firma Unvanı Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>Firma Unvanı <span class="text-danger">*</span></label>
                <input type="text" name="firmaUnvani" class="form-control" value="@Model.FirmaUnvani" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

<!-- Şifre -->
<div class="modal fade" id="modalSifre" tabindex="-1" aria-labelledby="modalSifreLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="GuncelleSifre" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSifreLabel">Şifre Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>Yeni Şifre <span class="text-danger">*</span></label>
                <input type="password" name="sifre" class="form-control" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

<!-- İl -->
<div class="modal fade" id="modalIl" tabindex="-1" aria-labelledby="modalIlLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="GuncelleIl" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalIlLabel">İl Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>İl <span class="text-danger">*</span></label>
                <input type="text" name="il" class="form-control" value="@Model.Il" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

<!-- İlçe -->
<div class="modal fade" id="modalIlce" tabindex="-1" aria-labelledby="modalIlceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="GuncelleIlce" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalIlceLabel">İlçe Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>İlçe <span class="text-danger">*</span></label>
                <input type="input" name="ilce" class="form-control" value="@Model.Ilce" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

<!-- Mahalle -->
<div class="modal fade" id="modalMahalle" tabindex="-1" aria-labelledby="modalMahalleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="GuncelleMahalle" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMahalleLabel">Mahalle Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>Mahalle <span class="text-danger">*</span></label>
                <input type="text" name="mahalle" class="form-control" value="@Model.Mahalle" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

<!-- Cep Telefonu -->
<div class="modal fade" id="modalCep" tabindex="-1" aria-labelledby="modalCepLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="GuncelleCepTelefonu" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCepLabel">Cep Telefonu Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>Cep Telefonu <span class="text-danger">*</span></label>
                <input type="text" name="cepTelefonu" class="form-control" value="@Model.CepTelefonu" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

<!-- E-Posta -->
<div class="modal fade" id="modalEposta" tabindex="-1" aria-labelledby="modalEpostaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="GuncelleEPosta" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEpostaLabel">E-Posta Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>E-Posta <span class="text-danger">*</span></label>
                <input type="email" name="ePosta" class="form-control" value="@Model.EPosta" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

<!-- Vergi Dairesi İli -->
<div class="modal fade" id="modalVDIl" tabindex="-1" aria-labelledby="modalVDIlLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="GuncelleVergiDairesiIl" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVDIlLabel">Vergi Dairesi İli Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>Vergi Dairesi İli <span class="text-danger">*</span></label>
                <input type="text" name="vergiDairesiIl" class="form-control" value="@Model.VergiDairesiIl" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

<!-- Vergi Dairesi -->
<div class="modal fade" id="modalVd" tabindex="-1" aria-labelledby="modalVdLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="GuncelleVergiDairesi" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVdLabel">Vergi Dairesi Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>Vergi Dairesi <span class="text-danger">*</span></label>
                <input type="text" name="vergiDairesi" class="form-control" value="@Model.VergiDairesi" required />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>
